<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>RecipeHub</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="static/styles/style1.css" rel="stylesheet">

        <link href="static/styles/style2.css" rel="stylesheet">

        <link href="static/styles/style3.css" rel="stylesheet">

        <link href="static/styles/style4.css" rel="stylesheet">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("contact-form").addEventListener("submit", function (event) {
                    event.preventDefault(); // Prevent default form submission
                    
                    // Collect form data
                    var formData = new FormData(this);
        
                    // Send form data to server using AJAX
                    fetch("/contact", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => response.text())
                    .then(data => {
                        // Display success message in pop-up
                        var popup = document.createElement("div");
                        popup.className = "popup";
                        popup.innerHTML = "<div class='popup-content'><span class='close'>&times;</span><p>" + data + "</p></div>";
                        document.body.appendChild(popup);
        
                        // Close the pop-up when close button is clicked
                        var closeBtn = popup.querySelector(".close");
                        closeBtn.addEventListener("click", function () {
                            document.body.removeChild(popup);
                        });
        
                        // Clear the form fields
                        document.getElementById("contact-form").reset();
                    })
                    .catch(error => {
                        // Handle errors
                        console.error("Error:", error);
                    });
                });
            });
        </script>
        
        
        
    </head>
    
    <body>      
            <main>
                <nav class="navbar navbar-expand-lg">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="/">
                            <img src="static/images/logo.png" class="navbar-brand-image img-fluid" alt="RecipeHub Template">
                            RecipeHub
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_1">Home</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_2">About</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_3">Our Menu</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_4">Reviews</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_5">Contact</a>
                                </li>
                            </ul>

                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn" href="/reservation">
                                    Reservation
                                    <i class="bi-arrow-up-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>


                <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-12 mx-auto">
                                <em class="small-text">welcome to RecipeHub</em>
                                
                                <h1>We Are Cooking For You!</h1>

                                <p class="text-white mb-4 pb-lg-2">
                                    your <em>favourite</em> Meal daily lives.
                                </p>

                                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_2">
                                    Our Story
                                </a>

                                <a class="btn custom-btn smoothscroll me-2 mb-2" href="#section_3"><strong>Check Menu</strong></a>
                            </div>

                        </div>
                    </div>

                    <div class="hero-slides"></div>
                </section>


                <section class="about-section section-padding" id="section_2">
                    <div class="section-overlay"></div>
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-12">
                                <div class="ratio ratio-1x1">
                                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                                        <source src="static/videos/pexels-mike-jones-9046237.mp4" type="video/mp4">

                                        Your browser does not support the video tag.
                                    </video>

                                    <div class="about-video-info d-flex flex-column">
                                        <h4 class="mt-auto">We Started Since 2023.</h4>

                                        <h4>Best Meal.</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-12 mt-4 mt-lg-0 mx-auto">
                                <em class="text-white">RecipeHub</em>

                                <h2 class="text-white mb-3">Grilled chicken breast</h2>

                                <p class="text-white">Tender, juicy, marinated, and expertly grilled perfection.</p>

                                <a href="#RecipeHub-team" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">RecipeHub</a>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="RecipeHub-section section-padding section-bg" id="RecipeHub-team">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">Creative RecipeHub</em>

                                <h2 class="text-white">Meet People</h2>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Anna</h4>

                                            <p class="badge ms-4"><em>pationat</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite Recipes daily lives tempor.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="static/images/team/cooker.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Sandra</h4>

                                            <p class="badge ms-4"><em>Manager</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite meal daily lives.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="static/images/team/cooker1.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Jackson</h4>

                                            <p class="badge ms-4"><em>Senior</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite meal daily lives.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="static/images/team/cooker2.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Ruby</h4>

                                            <p class="badge ms-4"><em>RecipeHub</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite meal daily consectetur.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="static/images/team/cooker3.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="menu-section section-padding" id="section_3">
                    <div class="ms-lg-3 text-center">
                        <a class="btn custom-btn custom-border-btn" href="/signin">
                            Order now
                            <i class="bi-arrow-up-right ms-2"></i>
                        </a>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                
                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <div class="menu-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Delicious Menu</em>
                                        <h4 class="text-white">Moroccan Dishes</h4>
                                    </div>
                
                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Moroccan Couscous</h6>
                                            <span class="underline"></span>
                                            <strong class="ms-auto">$14.50</strong>
                                        </div>
                                        <div class="border-top mt-2 pt-2">
                                            <small>Traditional dish served with steamed vegetables</small>
                                        </div>
                                    </div>
                
                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>Moroccan Pastilla</h6>
                                            <span class="underline"></span>
                                            <strong class="text-white ms-auto">$19.90</strong>
                                        </div>
                                        <div class="border-top mt-2 pt-2">
                                            <small>Sweet and savory pastry filled with chicken and almonds</small>
                                        </div>
                                    </div>
                
                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Moroccan Lamb Tagine</h6>
                                            <span class="underline"></span>
                                            <strong class="ms-auto">$22.50</strong>
                                        </div>
                                        <div class="border-top mt-2 pt-2">
                                            <small>Tender lamb cooked with aromatic spices and vegetables</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-lg-6 col-12">
                                <div class="menu-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Favourite Menu</em>
                                        <h4 class="text-white">Moroccan Specialties</h4>
                                    </div>
                
                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Moroccan Mint Tea</h6>
                                            <span class="underline"></span>
                                            <strong class="text-white ms-auto">$5.50</strong>
                                        </div>
                                        <div class="border-top mt-2 pt-2">
                                            <small>Traditional Moroccan mint tea</small>
                                        </div>
                                    </div>
                
                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>Moroccan Chicken Bastilla</h6>
                                            <span class="underline"></span>
                                            <strong class="ms-auto">$18.00</strong>
                                        </div>
                                        <div class="border-top mt-2 pt-2">
                                            <small>Sweet and savory pie filled with chicken, almonds, and spices</small>
                                        </div>
                                    </div>
                
                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Moroccan Shakshuka</h6>
                                            <span class="underline"></span>
                                            <strong class="ms-auto">$14.50</strong>
                                        </div>
                                        <div class="border-top mt-2 pt-2">
                                            <small>Eggs poached in a spiced tomato sauce</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </section>


                <section class="reviews-section section-padding section-bg" id="section_4">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">Reviews by Customers</em>

                                <h2 class="text-white">Testimonials</h2>
                            </div>

                            <div class="timeline">
                                <div class="timeline-container timeline-container-left">
                                    <div class="timeline-content">
                                        <div class="reviews-block">
                                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                                <img src="static/images/reviews/person1.jpg" class="reviews-block-image img-fluid" alt="">

                                                <div class="">
                                                    <h6 class="text-white mb-0">joulien</h6>
                                                    <em class="text-white"> Customers</em>
                                                </div>
                                            </div>

                                            <div class="reviews-block-info">
                                                <p>Curated culinary haven, offering global gastronomic inspiration and innovation.</p>

                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <strong class="text-white">5 <small class="ms-2">Rating</small></strong>

                                                    <div class="reviews-group ms-auto">
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-container timeline-container-right">
                                    <div class="timeline-content">
                                        <div class="reviews-block">
                                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                                <img src="static/images/reviews/person2.jpg" class="reviews-block-image img-fluid" alt="">

                                                <div class="">
                                                    <h6 class="text-white mb-0">Michelle Lai</h6>
                                                    <em class="text-white"> Customers</em>
                                                </div>
                                            </div>

                                            <div class="reviews-block-info">
                                                <p>Curated culinary haven, offering global gastronomic inspiration and innovation.</p>

                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <strong class="text-white">5 <small class="ms-2">Rating</small></strong>

                                                    <div class="reviews-group ms-auto">
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-container timeline-container-left">
                                    <div class="timeline-content">
                                        <div class="reviews-block">
                                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                                <img src="static/images/reviews/person3.jpg" class="reviews-block-image img-fluid" alt="">

                                                <div class="">
                                                    <h6 class="text-white mb-0">Guillaume</h6>
                                                    <em class="text-white"> Customers</em>
                                                </div>
                                            </div>

                                            <div class="reviews-block-info">
                                                <p>Curated culinary haven, offering global gastronomic inspiration and innovation.</p>

                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                                    <div class="reviews-group ms-auto">
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="contact-section section-padding" id="section_5">
                    <div id="success-message"></div>
                    <div class="container">
                        <div class="row">   
                
                            <div class="col-lg-12 col-12">
                                <em class="text-white">Say Hello</em>
                                <h2 class="text-white mb-4 pb-lg-2">Contact</h2>
                            </div>
                
                            <div class="col-lg-6 col-12">
                                <form id="contact-form" method="post" class="custom-form contact-form" role="form">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Jackson" required="">
                                        </div>
                
                                        <div class="col-lg-6 col-12">
                                            <label for="email" class="form-label">Email Address</label>
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jack@gmail.com" required="">
                                        </div>
                
                                        <div class="col-12">
                                            <label for="message" class="form-label">How can we help?</label>
                                            <textarea name="message" rows="4" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-5 col-12 mx-auto mt-3">
                                        <button type="submit" class="form-control">Send Message</button>
                                    </div>
                                </form>
                
                                <!-- Message display area -->
                                <div id="message-display" class="mt-3"></div>
                            </div>
                
                            <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0 ps-lg-5">
                                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.3061341595494!2d-7.668827224167783!3d33.597360573331635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d3dbdc2f8811%3A0xe183bff722185c05!2sALX%20Anfa%20Hub!5e0!3m2!1sfr!2sma!4v1710820019458!5m2!1sfr!2sma" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
                            </div>
                
                        </div>
                    </div>
                </section>

                <footer class="site-footer">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-12 me-auto">
                                <em class="text-white d-block mb-4">Where to find us?</em>

                                <strong class="text-white">
                                    <i class="bi-geo-alt me-2"></i>
                                    Casablanca, kénitra, Rue Tanger 14000, Morocco
                                </strong>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook">
                                        </a>
                                    </li>
        
                                    <li class="social-icon-item">
                                        <a href="https://x.com/minthu" target="_new" class="social-icon-link bi-twitter">
                                        </a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                                <em class="text-white d-block mb-4">Contact</em>

                                <p class="d-flex mb-1">
                                    <strong class="me-2">Phone:</strong>
                                    <a href="tel: 0650676748" class="site-footer-link">
                                        (+212) 
                                        0650676748
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <strong class="me-2">Email:</strong>

                                    <a href="zerroukimedchakir@gmail.com" class="site-footer-link">
                                        zerroukimedchakir@gmail.com
                                    </a>
                                </p>
                            </div>


                            <div class="col-lg-5 col-12">
                                <em class="text-white d-block mb-4">Opening Hours.</em>

                                <ul class="opening-hours-list">
                                    <li class="d-flex">
                                        Monday - Friday
                                        <span class="underline"></span>

                                        <strong>9:00 - 18:00</strong>
                                    </li>

                                    <li class="d-flex">
                                        Saturday
                                        <span class="underline"></span>

                                        <strong>11:00 - 16:30</strong>
                                    </li>

                                    <li class="d-flex">
                                        Sunday
                                        <span class="underline"></span>

                                        <strong>Closed</strong>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-8 col-12 mt-4">
                                <p class="copyright-text mb-0">Copyright © RecipeHub.ALX All rights reserved 2024.<a href="/intra">Intranet</a> 
                                    - Design: <a rel="sponsored" href="https://github.com/mohammedchakir" target="_blank">Mohammedchakir</a></p>
                            </div>
                    </div>
                </footer>
            </main>

        <!-- JAVASCRIPT FILES -->
        <script src="static/scripts/jquery.min.js"></script>
        <script src="static/scripts/bootstrap.min.js"></script>
        <script src="static/scripts/jquery.sticky.js"></script>
        <script src="static/scripts/click-scroll.js"></script>
        <script src="static/scripts/vegas.min.js"></script>
        <script src="static/scripts/custom.js"></script>

    </body>
</html>
